@font-face {
    font-family: 'Razer';
    src: url('/src/assets/fonts/dehinted-RazerF5-Regular.ttf');
}

:root{
    color: #E2E8F0;
    font-family: 'Razer';
}

body, #root, html{
    background-image: linear-gradient(to bottom, #0F172A, #0D1117);

    background-attachment: fixed;

    height: 100%;

    padding: 0;
    margin: 0;
}