@font-face {
    font-family: 'Razer';
    src: url('/src/assets/fonts/dehinted-RazerF5-Regular.ttf');
}

:root{
    color: #E2E8F0;
    font-family: 'Razer';
}

body, #root{
    background-image: linear-gradient(to bottom, #0F172A, #0D1117);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    height: 100%;

    padding: 0;
    margin: 0;

    display: grid;

    grid-template-rows: auto 1fr auto;
}